/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --title-color: #DB00FF;
  --section-title-color: #ff0070;
  --article-title-color: #000028;
  --article-text-color: #F1B2CE;
  --button-color: #ff0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --rectangle-color: #ff0070;
  --accent-color: #ff0070;
  background: #000028 url('../images/cover-image-dark.png') fixed center/cover no-repeat;
}

.decorated-zone::before {
  border-block-start: 1px solid var(--rectangle-color);
  border-inline-end: 1px solid var(--rectangle-color);
}

.decorated-zone::after {
  border-block-end: 1px solid var(--rectangle-color);
  border-inline-start: 1px solid var(--rectangle-color);
}

.header__theme-menu-list {
  color: var(--button-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-color);
}

.header__rec {
  position: absolute;
  color: var(--rectangle-color);
  font-size: 18px;
  right: 30px;
}

.header__rec::after {
  position: absolute;
  content: '';
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px;
  margin-inline-start: 10px;
  margin-block-start: 7px;
}

.header__title {
  color: var(--title-color);
}

.header__text {
  background-color: var(--accent-color);
  color: var(--article-title-color);
}

.section-title {
  color: var(--section-title-color);
}

.article-title {
  background-color: var(--accent-color);
  color: var(--article-title-color);
}

.article-text {
  color: var(--article-text-color);
}

/* В ревью написано, что свойства для ссылок должны лежать в style.css (конкретно 2 свойства ниже). 
Однако я с этим не согласен, т.к. эти 2 свойства зависят именно от темы.
Разве не такая логика должна быть?*/
.a:hover {
  border-bottom: 1px solid var(--article-text-color);
}

.a:focus-visible {
  outline: 1px solid var(--article-text-color);
}

.caption {
  background-color: var(--accent-color);
  color: var(--article-title-color);
}

.section__gallery-title {
  background-color: var(--accent-color);
  color: var(--article-title-color)
}

.footer__title {
  color: var(--title-color);
}