/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #000028;
  --accent-color: #ff0070;
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  background: url('../images/cover-image-dark.png') fixed center/cover no-repeat;
}

a:hover {
  border-bottom: 1px solid var(--text-color);
}

a:focus {
  outline: 1px solid var(--text-color);
}

.header__theme-menu-list {
  color: var(--accent-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus { 
  outline: none; 
} 
 
.header__theme-menu-button_active { 
  outline: 1px solid var(--accent-color); 
  pointer-events: none; 
} 
 
.header__theme-menu-button:focus-visible { 
  border-block-end: 1px solid var(--accent-color); 
}

.rec__text {
  position: absolute;
  color: var(--accent-color);
  font-size: 18px;
  right: 30px;
}

.rec__text::after {
  position: absolute;
  content: '';
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px;
  margin-inline-start: 10px;
  margin-block-start: 7px;
}

.decorated-zone { 
  position: relative; 
} 
 
.decorated-zone::before, 
.decorated-zone::after { 
  content: ""; 
  position: absolute; 
  width: 25px; 
  height: 25px; 
} 
 
.decorated-zone::before { 
  border-block-start: 1px solid var(--accent-color); 
  border-inline-end: 1px solid var(--accent-color); 
  right: 1px; 
} 
 
.decorated-zone::after { 
  border-block-end: 1px solid var(--accent-color); 
  border-inline-start: 1px solid var(--accent-color); 
  bottom: 10px; 
}

.header__title {
  color: var(--title-color);
}

.h2__text {
  color: var(--accent-color);
}

.h3__text {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.h4__text {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.containers__text {
  color: var(--text-color);
}

.footer__text {
  color: var(--title-color);
}

.footer { 
  position: relative; 
} 
 
.footer::before, 
.footer::after { 
  content: ""; 
  position: absolute; 
  width: 25px; 
  height: 25px; 
} 
 
.footer::before { 
  border-block-start: 1px solid var(--accent-color); 
  border-inline-end: 1px solid var(--accent-color); 
  top: 54px;
  right: 1px; 
} 
 
.footer::after { 
  border-block-end: 1px solid var(--accent-color); 
  border-inline-start: 1px solid var(--accent-color); 
  bottom: 60px; 
}