/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  padding: 20px;
  margin: 0 auto;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  margin-block-end: 40px;
  min-block-size: 768px;
  /* В задании не увидел обязательного требования, чтобы хедер и футер были равны высоте экрана.
  Лишь рекомендации. */
  max-block-size: 100vh;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  right: 1px;
} 

.decorated-zone::after {
  bottom: 40px;
}

button {
  inline-size: 70px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 9px;
  font-size: 18px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  margin-block-start: 239px;
  margin-block-end: 76px;
  margin-inline-start: -16px;
  text-shadow: 4px 4px 0 #FF0070;
}

.header__container-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.header__text {
  font-size: 18px;
  font-weight: 700;
  max-inline-size: 491px;
}

.section__why {
  display: grid;
  grid-template-columns: 1fr fit-content(649px);
  gap: 25px;
  margin-block-end: 83px;
}

.section-title {
  font-size: 18px;
  font-weight: 700;
}

.section__why_article {
  grid-column-start: 2;
}

.article-title {
  font-size: 18px;
  line-height: 23px;
}

.article-text {
  font-size: 18px;
  margin-block-start: 11px;
  line-height: 23px;
}

.a {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.a:focus {
  outline: none;
}

.section__what {
  display: grid;
  grid-template-columns: repeat(3, fit-content(315px));
  gap: 20px;
  margin-block-end: 85px;
}

.container__what_section-title {
  grid-column: 1 / span 3;
  max-inline-size: 315px;
}

.section__how {
  display: grid;
  grid-template-columns: 1fr fit-content(648px);
  gap: 25px;
  margin-block-end: 85px;
}

.section__how-title {
  max-block-size: 23px;
}

.container__how_article-title,
.section__how_article {
  grid-column-start: 2;
}

.caption {
  font-size: 18px;
  font-weight: 400;
}

.section__how_article-advice:not(:first-child) {
  margin-top: 20px;
}

.section__gallery {
  display: grid;
  grid-template-areas:
  'title title title'
  'sunset sunset icecream'
  'tape books icecream'
  'tape street street';
  gap: 20px;
  margin-block-start: 20px;
}

.section__gallery-title {
  grid-area: title;
}

.img_sunset {
  grid-area: sunset;
  max-inline-size: 649px;
}

.img_icecream {
  grid-area: icecream;
  max-inline-size: 315px;
  max-block-size: 595px;
  block-size: 100%;
}

.img_tape {
  grid-area: tape;
  max-inline-size: 315px;
  max-block-size: 768px;
  block-size: 100%;
}

.img_books {
  grid-area: books;
  max-inline-size: 315px;
}

.img_street {
  grid-area: street;
  max-inline-size: 649px;
}

.img_sunset,
.img_icecream,
.img_tape,
.img_books,
.img_street {
  object-fit: cover;
  object-position: center;
}

.footer {
  margin-block-start: 81px;
  min-block-size: 768px;
  max-block-size: 100vh;
}

.footer__container_title {
  display: flex;
}

.footer__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-shadow: 2px 2px 0 #FF0070;
  margin: 262px auto;
}

@media (max-width: 768px) {
  .header {
    min-block-size: 1024px;
  }
  
  .header__theme-menu-list {
    flex-direction: column;
    gap: 11px;
    align-items: flex-end;
    margin-block-start: 172px;
  }
  
  .header__title {
    margin-block-start: 145px;
    margin-block-end: 136px;
  }
  
  .header__text {
    max-inline-size: 364px;
  }
  
  .section__why {
    grid-template-columns: 1fr fit-content(472px);
    gap: 27px;
    margin-block-end: 84px;
  }
  
  .section__what {
    grid-template-columns: minmax(728px, 1fr);
    gap: 20px;
    margin-block-end: 84px;
  }
  
  .container__what_section-title {
    max-inline-size: 236px;
  }
  
  .section__what_article {
    grid-column-start: 1;
  }
  
  .section__how {
    grid-template-columns: 1fr fit-content(472px);
    margin-block-end: 82px;
    gap: 20px;
  }
  
  .section__how_article-advice:not(:first-child) {
    margin-top: 23px;
  }

  .img_sunset {
    max-inline-size: 479px;
  }
  
  .img_icecream {
    max-inline-size: 229px;
    max-block-size: 441px;
  }
  
  .img_tape {
    max-inline-size: 229px;
    max-block-size: 568px;
  }
  
  .img_books {
    max-inline-size: 230px;
  }
  
  .img_street {
    max-inline-size: 479px;
  }
  
  .footer {
    min-block-size: 1024px;
  }
  
  .footer__title {
    margin: 415px auto;
  }
}

@media (max-width: 376px) {
  .page {
    padding: 10px;
  }
  
  .header {
    min-block-size: 668px;
  }
  
  .decorated-zone {
    max-block-size: 668px;
    margin-block-end: 28px;
  }

  .decorated-zone::after {
    bottom: 20px;
  }

  .header__theme-menu-list {
    margin-block-start: 65px;
  }
  
  .header__title {
    margin-block-start: 65px;
    margin-block-end: 56px;
    margin-inline-start: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 96px;
  }
  
  .header__container-text {
    justify-content: center;
    margin-block-end: 98px;
  }
  
  .header__text {
    min-inline-size: 355px;
  }
  
  .section__why {
    grid-template-columns: fit-content(355px);
    gap: 24px;
    margin-block-end: 55px;
  }
  
  .section__why_article {
    grid-column-start: 1;
  }

  .section__what {
    grid-template-columns: minmax(355px, 1fr);
    gap: 24px;
    margin-block-end: 52px;
  }
  
  .container__what_section-title {
    max-inline-size: 355px;
  }
  
  .section__how {
    grid-template-columns: fit-content(355px);
    gap: 24px;
    margin-block-end: 54px;
  }
  
  .section__how-title {
    max-block-size: 70px;
  }
  
  .container__how_article-title,
  .section__how_article {
    grid-column-start: 1;
  }
  
  .section__gallery {
    grid-template-areas:
    'title'
    'sunset'
    'icecream'
    'tape'
    'books'
    'street';
    gap: 10px;
  }
  
  .section__gallery-title,
  .img_sunset,
  .img_icecream,
  .img_tape,
  .img_books,
  .img_street {
    max-inline-size: 355px;
    inline-size: 100%;
  }
  
  .footer {
    min-block-size: 668px;
  }
  .footer.decorated-zone {
    margin-block-start: 51px;
  }
  .footer__title {
    margin: 245px 0;
  }
}