/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --h1-color: #DB00FF;
  --h2-color: #ff0070;
  --title-color: #000028;
  --text-color: #F1B2CE;
  --button-color: #ff0070;
  --rectangle-color: #ff0070;
  --accent-color: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.4);
}