/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028;
  --accent-color: #ff0070;
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
}

.header__theme-menu-list {
  color: var(--accent-color);
}

.header__title {
  color: var(--title-color);
}

.h2__text {
  color: var(--accent-color);
}

.h3__text {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.h4__text {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.containers__text {
  color: var(--text-color);
}

.footer__text {
  color: var(--title-color);
}